[submodule "web/lib/onyx"]
	path = web/lib/onyx
	url = git@github.com:enyojs/onyx.git
[submodule "web/lib/layout"]
	path = web/lib/layout
	url = git@github.com:enyojs/layout.git
[submodule "web/enyo"]
	path = web/enyo
	url = git@github.com:enyojs/enyo.git
[submodule "web/lib/sundaydata"]
	path = web/lib/sundaydata
	url = git@github.com:olafura/sundaydata.git
